.MainLayout {
  min-height: 100%;
  padding: 0 1.6rem 2.4rem 1.6rem;
  background-color: var(--background);
}
.MainLayout-header {
  position: sticky;
  top: 0;
  padding: 2.4rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background);
  z-index: 1;
}
.MainLayout-nav ul {
  list-style: none;
}
.MainLayout-nav li a {
  font-size: 1.4rem;
}
.MainLayout-link {
  color: var(--link);
  text-decoration: none;
}
.MainLayout-link--active {
  color: var(--primary);
  border-bottom: 2px solid;
}
.MainLayout-main {
  display: grid;
  gap: 2.4rem;
}
@media (min-width: 1008px) {
  .MainLayout-main {
    grid-template-columns: repeat(auto-fit, 250px);
    justify-content: center;
  }
}
