.Button {
  height: fit-content;
  padding: 0.8rem;
  border-radius: 10px;
  color: var(--white);
  background-color: transparent;
  cursor: pointer;
}
.Button--primary {
  border: 2px solid var(--primary);
}
.Button--danger {
  border: 2px solid var(--danger);
}
