/*
1. Posicionamiento
2. Modelo de caja (Box model)
3. Tipografía
4. Visuales
5. Otros 
*/
:root {
  --primary: #879fd6;
  --secondary: #222b3a;
  --secondary-text: #4b5a79;
  --danger: #983636;
  --background: #0b121f;
  --link: #e6e2df;
  --white: #ffffff;
  --yellow: #eeb115;
}
* {
  padding: 0;
}
html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
